.container-legal {
  flex-direction: column;
  min-width: 30vw;
  flex-grow: 1;
  max-width: 40vw;
  background-color: #d9d9d9;
  margin: 0 auto;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3vh;
  padding: 0 2vw;
  padding-bottom: 3vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.titre-legal {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.titre-sub-legal {
  font-size: 1.4rem;
  font-weight: 600;
}

.legal-body {
  font-size: 1.05rem;
}

@media (max-width: 768px) {
  .container-legal {
    flex-direction: column;
    min-width: 74vw;
    flex-grow: 1;
    max-width: 40vw;
    background-color: #d9d9d9;
    margin: 0 auto;
    padding: 0 3vh;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 3vh;
    padding-bottom: 3vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .legal-body {
    font-size: 0.95rem;
  }

  .titre-sub-legal {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .titre-legal {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
      rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
      rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
      rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
}
